.text-field-username{
    -fx-text-fill: #CB91F3;
}

.text-field-address{
    -fx-text-fill: #F78BC9;
}

.jfx-list-cell{
    -fx-background-color: #040916;
    -fx-control-inner-background:#040916;
}

.label-players{
    -fx-text-fill: #cccccc;
    -fx-font-family: BubbleGum;
    -fx-font-size: 21;
}

.label-connected{
    -fx-text-fill: #08f570;
    -fx-font-family: BubbleGum;
    -fx-font-size: 21;
}

.anchorpane-Pop{
    -fx-background-color: #040916;
}

.selected-player-list {
    -fx-text-fill: #F78BC9;
    -fx-font-family: BubbleGum;
    -fx-font-size: 21;
}

.selected-finish-list {
    -fx-text-fill: #00BCB4;
}
